ENVIRONMENT=development

DB_SOURCE=root:password@tcp(127.0.0.1:3306)/mysql_db?parseTime=true
DB_CONTAINER=mysql_db
DB_NAME=mysql_db
DB_USER=root
DB_PASSWORD=password
DB_COMMANDS_DIR=./db/commands/

DB_URL=mysql://root:password@tcp(127.0.0.1:3306)/mysql_db

CHARSET=--default-character-set=utf8mb4
MIG_DIR=./db/migration